
body {
   font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
   background-image: url('background2.jpg');
   background-size: cover;
   background-position: center;
   background-repeat: repeat;
   margin: 0;
   padding: 0;
}

header {
   display: flex;
   justify-content: center;
   align-items: center;
   font: "Gill Sans";
   font-size: 35px;
   color: black;
   background-color: lightblue;
   margin-bottom: 23px;
   padding: 30px;
}

h1 {
   text-align: left;
   font-size: 17px;
   color: black;
}

h2 {
   text-align: left;
   font-size: 15px;
   color: black;
}

h3 {
   text-align: left;
   font-size: 14px;
   color: red;
}

p {
   text-align: left;
   font-size: 15px;
   color: black;
}

#returnButton {
   display: block;
   margin: 0 auto;
   margin-top: 8px;
   margin-bottom: 8px;
   margin-left: 8px;
   padding: 5px;
   background-color: lightgray;
   cursor: pointer;
}

#returnButton:hover {
   background-color: teal;
}

.container {
   display: flex;
   justify-content: center;
   align-items: center;
}

.results-box {
   text-align: left;
   background-color: lightblue;
   padding: 20px;
}
