
body {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    background-image: url('background2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;

}

header {
   display: flex;
   justify-content: center;
   align-items: center;
   font: "Gill Sans";
   font-size: 35px;
   color: black;
   background-color: lightblue;
   margin-bottom: 23px;
   padding: 30px;
}

h1 {
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 15px;
   margin-left: 8px;
   color: white;
}
h2 {
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 15px;
   margin-left: 8px;
   color: white;
}


#returnButton {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 8px;
   margin-bottom: 8px;
   margin-left: 8px;
   padding: 5px;
   background-color: yellow;
}

#returnButton:hover {
   background-color: orange;
}

.container {
   display: flex;
}
